/* COMIC EL PERRO QUE CUIDABA LAS ESTRELLAS */

.comic-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 5%;
    max-width: 65%;
    justify-self: center;
}

.estrellas-container {
    background-image: url('../img/estrellas-bk.png');
    font-family:  'Georgia', serif;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}

.estrellas-c1 {
    background-color: white;
    padding: 21px;
    width: fit-content;
    height: auto;
    margin-left: 10%;
}

.estrellas-img {
    width: 85%;
    height: auto;
    margin-right: 12%;
}

.estrellas-img1 {
    width: 90%;
    height: auto;
    margin-left: 8%;
}

.estrellas-img2 {
    width: 88%;
    height: auto;
    margin-left: 5%;
}

.estrellas-c2 {
    width: fit-content;
    height: auto;
    padding: 20px;
    background-color: white;
}   

.dividido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center   ;
}

.completo {
    width: 90%;
    height: auto;
    margin-left: 12%;
}

.completo2 {
    width: 100%;
    height: auto;
    margin-left: 20%;
}

.completo3 {
    width: 74%;
    height: auto;
}

/* nav */

.link {
    text-decoration: none;
    color: rgb(182, 170, 39);
    font-size: 1.2em;
    font-weight: bold;
}

.logo {
    width: 10%;
}

.navigation a:hover {
    color: rgb(208, 71, 153);
}

.navigation li {
    list-style: none;
}

.navigation ul {
    padding: 0;
    margin: 0;
    justify-content: center;
        display: flex;
    align-items: center;
    gap: 50px;
}


.nav-logo {
    width: 100%;
    align-items: end;
    justify-content: center;
    height: auto;
    margin-right: 10px;
    color: red;
}

.navigation {
    background-color: rgb(249, 255, 200);
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: 10vh;
    margin: 0;
    padding: 20px;
}

@media screen and (min-width: 200px) and (max-width: 768px) {

    .estrellas-container {
        background-image: url(../img/estrellas-bk.png);
        font-family: 'Georgia', serif;
        margin: 0;
    }
    .comic-container {
        grid-template-columns: 1fr;
        margin-bottom: 6%;
        scale: 1;
    }

    .estrellas-c1, .estrellas-c2 {
        margin-left: 0;
    }

    .estrellas-img, .estrellas-img1, .estrellas-img2, .completo, .completo2, .completo3 {
        margin-left: 0;
        width: 100%;
    }

    .link {
        display: none;
    }

    .logo
    {
        width: 100%;
    }
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .estrellas-container {
        background-image: url(../img/estrellas-bk.png);
        font-family: 'Georgia', serif;
        margin: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .comic-container {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 6%;
        scale: 0.9;
    }

    .estrellas-c1, .estrellas-c2 {
        margin-left: 0;
    }

    .estrellas-img, .estrellas-img1, .estrellas-img2, .completo, .completo2, .completo3 {
        margin-left: 0;
        width: 100%;
    }

    .logo
    {
        width: 30%;
    }

    .link {
        font-size: 1em;
        align-items: center;
    }
}