/* INFORMATION  */

.index-body {
    background-image: url('../img/index-bk.svg');
    background-size: cover;
    font-family:  'Georgia', serif;
    margin: 0
}


.link {
    text-decoration: none;
    color: rgb(161, 25, 47);
    font-size: 1.2em;
    font-weight: bold;
}

.logo {
    width: 10%;
}

.navigation a:hover {
    color: rgb(208, 71, 153);
}

.navigation li {
    list-style: none;
}

.navigation ul {
    padding: 0;
    margin: 0;
    justify-content: center;
        display: flex;
    align-items: center;
    gap: 50px;
}


.nav-logo {
    width: 100%;
    align-items: end;
    justify-content: center;
    height: auto;
    margin-right: 10px;
    color: red;
}

.navigation {
    background-color: rgb(255, 217, 224);
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: 10vh;
    margin: 0;
    padding: 20px;
}


.info-container {
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
    gap:20px
}

.rightc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    align-self: self-end;
}

.poster-image {
    width: 39%;
    height: auto;
}


.down-image {
    width:18%;
}

.leftc {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    width: 50%;
    align-self: self-end;
    justify-content: center;
}

.poster-image2 {
    width: 38%;
    height: auto;
}

.side {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: end;
}


@media screen and (min-width: 200px) and (max-width: 768px) {

    
    .link {
        display: none;
    }

    .logo
    {
        width: 100%;
    }
    
}