<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Perro Que Cuidaba Las Estrellas</title>

    <link rel="stylesheet" href="/assets/styles/comic-1.css">
</head>
<body class="estrellas-container">

    <nav class="navigation">
        <ul>
            <li><a class="link" href="assets/templates/ghibli.html">Ghibli</a></li>
            <li><a class="link" href="/assets/templates/comic-1.html">Stargazing Dog</a></li>
            
            <a class="logo" href="/index.html"><img src="/assets/img/VISOR ONLINE.png" alt="Logo" class="nav-logo"></a>
            <li><a class="link" href="assets/ghibli.html">One Piece</a></li>
            <li><a class="link" href="assets/comid-2.html">Remarried Empress</a></li>
        </ul>
    </nav>

    <div class="comic-container">
        <div class="estrellas-c1">
            <img src="/assets/img/1.png" alt="Portada" class="estrellas-img1">
            <img src="/assets/img/2.png" alt="El perro mira las estrellas" class="estrellas-img1">
            <img src="/assets/img/3.png" alt="El perro y la niña" class="estrellas-img1">
            <img src="/assets/img/4-e.png" alt="perro" class="estrellas-img1">
        </div>
        <div class="estrellas-c2">
            <div class="dividido">
                <img src="/assets/img/r-1.png" alt="niña" class="completo">
                <img src="/assets/img/r-2.png" alt="niña y perro" class="estrellas-img">
            </div>
            <div class="dividido">
                <img src="/assets/img/r-3.png" alt="niña y perro juntos" class="completo2">
                <img src="/assets/img/r-4.png" alt="estrella fugaz" class="completo3">
            </div>
            <div class="dividido">
                <img src="/assets/img/r-5.png" alt="perro y niña mirando las estrellas" class="completo">
                <img src="/assets/img/r-6.png" alt="perro y niña acostados" class="estrellas-img">
            </div>
            <img src="/assets/img/r-7.png" alt="perro y niña felices" class="estrellas-img2">
        </div>
    </div>
</body>
</html>